@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

@layer base {
  h1, h2, h3, h4, h5, h6, a, label, strong {
    @apply text-dark-slate-grey font-bold;
  }

  ul {
    @apply space-y-4;
  }

  button {
    @apply font-bold p-4 w-full text-center rounded-lg;
  }
}

@layer components {
  .field {
    @apply py-4 px-5 border-grey border-[1px] w-full rounded-lg focus:border-dark-slate-grey outline-none transition-colors
  }

  .field--error {
    @apply bg-tomato-100 border-tomato-800 text-tomato-800 focus:border-tomato-800
  }

  .button {
    @apply bg-dark-slate-grey text-white overflow-hidden relative z-10 before:-z-10 before:transition-opacity transition-shadow before:opacity-0 before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:content-[''] hover:before:opacity-100 focus:before:opacity-100 before:bg-gradient-to-r before:from-pink before:to-orange hover:shadow-tomato-800/30 hover:shadow-xl focus:shadow-tomato-800/30 focus:shadow-xl
  }
}
